.contactForm {
    background-color: rgb(140, 252, 187);
    padding: 25px;
    width: 500px;
}

.submit {
    width: 180px;
    font-size: 20px;
    margin-top: 10px;
}

.inputName {
    margin: 0;
}

.inputContact {
    width: 400px;
    margin: 15px 0;
    padding: 7px;
}

.formContainer {
    display: grid;
}